$h2: #4d4d4d;
$nav-text-color: #a1a1a1;
$input: #f2f2f2;
$footer: #333333;
$h2-font: 36px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  &--links {
    list-style: none;
    display: table;
  }

  &--link {
    display: table-cell;
    padding: 20px;
    &:hover {
      background-color: $h2;
    }
    &:hover &-item {
      color: white;
    }
    &-item {
      text-decoration: none;
      color: $nav-text-color;
      letter-spacing: 0.5px;
      margin: 0 20px;
    }
  }
}

%justify-between {
  display: flex;
  justify-content: space-between;
}

%align-center {
  align-items: center;
  display: flex;
}

%justify-center {
  display: flex;
  justify-content: center;
}

%ubuntu {
  font-family: "Ubuntu", sans-serif;
}

%open-sans {
  font-family: "Open Sans", sans-serif;
}

%archivo-black {
  font-family: "Archivo Black";
}

%button {
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 30px;
}

%wh100 {
  height: 100%;
  width: 100%;
}

%icon-style {
  color: white;
  background-color: #333333;
  border-radius: 50%;
  padding: 10px;
  width: 38px;
  text-align: center;
}

%input-area {
  outline: none;
  border: none;
  color: $h2;
  background-color: $input;
  display: block;
  width: 100%;
  padding: 10px 12px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  @extend %justify-between;
  align-items: center;
}

@import "main";

.footer {
  background-color: $footer;
  padding: 20px;
  & p {
    text-align: center;
    color: white;
    width: 300px;
    font-size: 14px;
    margin: 0 auto;
  }
}
